<div class="container">
  <div>
    <h1><%= @cocktail.name %></h1>
  </div>

  <div>
    <h3>Ingredients</h3>
    <% @cocktail.doses.each do  |dose| %>

    <div>
      <%= dose.ingredient %> - <%= dose.description %>
    </div>

    <% end %>
  </div>

  <div>
    <%= link_to "Back to index", cocktails_path %>
  </div>
</div>
